<%- include('header') -%>


<div class="p-4 d-flex justify-content-center">

    <form action="" method="POST">

        <div class="form-outline mb-2">
            <input id="inputUsername" class="form-control" type="text" name="username" placeholder="Username" />
        </div>

        <div class="form-outline mb-2">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" />
        </div>

        <div class="form-outline mb-3">
            <select name="role" class="form-select">
                <option value="author">Author</option>
                <option value="advertiser">Advertiser</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary col-12 mb-4">Register</button>
    </form>

</div>


<%- include('footer') -%>