<%- include('header') -%>


<div class="row justify-content-center my-3">
    <div class="col-lg-9 text-center">

        <p style="color: red;"><%= error %></p>

    </div>
</div>

<%- include('footer') -%>