<%- include('header') -%>

<div class="row justify-content-center my-3">
    <div class="col-lg-9 text-center">

        <p style="color: green;">Registration succeeded</p>

        <p>Now you can login</p>

    </div>
</div>

<%- include('footer') -%>